@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

    --color-primary: #FED766;
    --color-primary-dark: #FDD55D;
    --color-primary-light: #FEE085;

    --color-secondary: #009fb7;
    --color-secondary-dark: #008DA3;
    --color-secondary-light: #00C2E0;

    --color-bg: #FED766;
    --color-bg-alt: #1F1F1F;

    --color-text: #1F1F1F;
    --color-text-secondary: #EF8354;
    --color-text-inverse: #E8EBED;

    --color-border: #1F1F1F;
    --color-shadow: #1F1F1F;

    --color-button-bg: #00C2E0;
    --color-button-text: #1F1F1F;

    --color-link: #007C8F;
    --color-link-hover: #0ADEFF;

    --color-success: #88fa95;
    --color-warning: #d0e300;
    --color-error: #ff0000;
    --color-info: #0ADEFF;
}