@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

    --color-primary: #FED766;
    --color-primary-dark: #FDC10D;
    --color-primary-light: #FEE085;

    --color-secondary: #007C8F;
    --color-secondary-dark: #214d6e;
    --color-secondary-light: #00C2E0;

    --color-bg: #F5F5F5;
    --color-bg-alt: #FED766;

    --color-text: #1F1F1F;
    --color-text-secondary: #214d6e;
    --color-text-inverse: #F5F5F5;

    --color-border: #214d6e7f;
    --color-shadow: #1f1f1f4f;

    --color-button-bg: #FED766;
    --color-button-text: #007C8F;
    --color-button-bg-alt: #007C8F;
    --color-button-text-alt: #F5F5F5;

    --color-link: #007C8F;
    --color-link-hover: #214d6e;

    --color-success: #88fa95;
    --color-warning: #ffcf41;
    --color-error: #ff0000;
    --color-info: #0ADEFF;
}