<div class="stat-card">
  <div class="stat-card-header">
    {{name}}
  </div>
  <div class="stat-body">
    <p>
      Value:
      {{value}}
    </p>
    <p>
      Streak:
      {{streak}}
    </p>
  </div>
</div>